BACKEND_PORT=8000
FRONTEND_PORT=3000
QDRANT_HOST=qdrant
QDRANT_PORT=6333
HF_TOKEN=
NVIDIA_API_KEY=
APP_KEY=
QDRANT_COLLECTION_NAME=documents
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
RERANKER_MODEL=BAAI/bge-reranker-base
LLM_MODEL=openai/gpt-oss-20b
LLM_BASE_URL=https://integrate.api.nvidia.com/v1
