# Node modules
node_modules/
frontend/node_modules/

# Environment variables
.env

# Database data
database/qdrant_data/

# User storage
storage/primary_user/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
